{% extends 'recipes/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <a href="{% url 'recipe_edit' pk=recipe.pk %}"><button><span class="pencil">&#9998</span></button></a>
    <div class="recipe">
        
        <h2>{{ recipe.title }}</h2>
        <ul class="ingredient-list">
            {% for ingredient in recipe.ingredient_set.all %}
                    <li class="ingredient-list-item"> 
                        <div class="ingredient-amount"><h3>{{ingredient.amount}}</h3></div>
                        <div class="ingredient-name"><h3> {{ingredient.name}}</h3></div>
                        {% if ingredient.shoppingList == False %}
                        <button onclick="toggleShop({{ingredient.pk}})" id="button{{ingredient.pk}}" class="ingredient-button">
                            Shopping List <span id="plus">&#10011</span>
                        </button>
                        {% endif%}
                    </li>    
            {% endfor %}
        </ul>
        <p class="recipe-instructions">{{ recipe.instructions|linebreaksbr }}</p>
    </div>
{% else %}
<h3>Please Login <a href="{% url 'login' %}">Here</a></h3>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'scripts/toggleShop.js' %}" />
{% endblock %}