{% extends 'recipes/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'recipe_edit' pk=recipe.pk %}"><span class="pencil">&#9998</span></a>
    <div class="recipe">
        
        <h2>{{ recipe.title }}</h2>
        <ul>
            {% for ingredient in recipe.ingredient_set.all %}
                    <li> {{ingredient.amount}} {{ingredient.name}}</li>    
            {% endfor %}
        </ul>
        <p>{{ recipe.instructions|linebreaksbr }}</p>
    </div>
{% else %}
<h3>Please Login <a href="{% url 'login' %}">Here</a></h3>
{% endif %}
{% endblock %}