
{% extends 'recipes/base.html' %}
{% load static %}

{% block content %}
    <h1 onload="load()"> {{recipe.title}} </h1>
    <h2> Ingredients: </h2>
        <ul id="ingredients_list">
            {% for ingredient in recipe.ingredient_set.all %}
                <li id="ingredient{{ingredient.pk}}"> {{ingredient.amount}} {{ingredient.name}}
                    <button  onclick="handleClick({{ingredient.pk}})">
                        <span id="trashcan">&#x1F5D1</span>
                    </button>
                </li>    
            {% endfor %}
        </ul>
    <h4>Add An Ingredient:</h4>
    <form id='add-ingredient'>
        {% csrf_token %}
        <input type=hidden id=recipe_id value="{{recipe.pk}}"
        {{ingredient_form}}
        <button type='submit' >Add Ingredient</button>
    </form>
    <form method="post" class="post-form">
        {% csrf_token %}
        {{recipe_form.as_p}}
        
        <button type="submit">Save Recipe</button>
    </form>

{% endblock %}
{%block script%}
    <script type="text/javascript" src="{% static 'scripts/ajax.js' %}"
{% endblock %}